{<<"app">>,<<"crypt3">>}.
{<<"build_tools">>,[<<"mix">>,<<"make">>]}.
{<<"description">>,<<"crypt(3) NIF for Elixir.">>}.
{<<"elixir">>,<<"~> 1.5">>}.
{<<"files">>,
 [<<"lib/crypt3.ex">>,<<"c_src/crypt3.c">>,<<"c_src/nif.c">>,<<"mix.exs">>,
  <<"README.md">>,<<"Makefile">>,<<"LICENSE">>,<<"config/config.exs">>,
  <<"test/crypt3_test.exs">>,<<"test/test_helper.exs">>,<<"priv/nif.so">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/ominousness/crypt3">>}]}.
{<<"maintainers">>,[<<"Ominousness">>]}.
{<<"name">>,<<"crypt3">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.4">>}.
